AD_DEV_API_PORT=8080
AD_DEV_FRONTEND_PORT=3000
AD_DEV_MYSQL_PORT=33306
AD_DEV_REDIS_PORT=36379

AD_DEV_DB_DATABASE=passport_ad_dev
AD_DEV_TEST_DB_DATABASE=passport_ad_test
AD_DEV_DB_USERNAME=passport
AD_DEV_DB_PASSWORD=passport
AD_DEV_DB_ROOT_PASSWORD=root

AD_DEV_APP_KEY=base64:6r5W0lNiRlvvGZsP1mnKLz1caFv9sNMNhxTYAlnccpo=
