node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.cache
.cache/
.pnpm-*
/.pnpm-home/
/.cache/
/.lighthouseci/
dist/
dist-ssr/
node_modules/
*.log
pnpm-debug.log
coverage/
/.DS_Store
